<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <template v-if="logado">
        <p>Usuário Logado: {{ nome }}</p>
    </template>
    <p v-else-if="anonimo">Navegando como Anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">
        {{ logado ? 'Sair' : 'Entrar' }}
    </button>
    <input v-model="anonimo" type="checkbox">
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            nome: "Rodrigo",
            logado: false,
            anonimo: false
        }
    })
</script>